html {
    font-size: clamp(10px, 1.2vw, 23px);
    min-height: 0vw;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(88, 88, 88, 1);
    background-color: rgb(255, 254, 250);
}

/* header部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

.main_menu {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0 5%;
}

.global_link {
    padding: 2%;
}

.global_anchor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* FV部分 */
.fv_area {
    width: 100%;
    height: 38rem;
    display: flex;
    align-items: center;
}

.fv_picture {
    position: relative;
    display: flex;
    width: 60%;
    margin: 0 auto;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.15));
    transform: translateY(5%);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* タイトル部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.fv_title {
    position: absolute;
    display: flex;
    width: 45%;
    height: 35%;
    left: 7%;
    top: 15%;
    align-items: center;
}

.fv_text_box {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 254, 0.3);
    filter: blur(3.5px);
}

.fv_top_text {
    filter: none;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 3rem;
    font-family: 'Red Hat Mono', monospace;
    color: rgb(166, 129, 0);
    text-align: center;
    text-shadow: -2px 0px 0px #ffffff, -5px 5px 2px rgba(86, 86, 86, 0.3)
}

.fv_sub_text {
    width: 100%;
    bottom: 20%;
    position: absolute;
    font-size: 1.5rem;
    font-family: 'Red Hat Mono', monospace;
    color: rgb(166, 129, 0);
    text-align: center;
    text-shadow: -2px 0px 0px #ffffff, -5px 5px 2px rgba(86, 86, 86, 0.3);
}

/* 自己紹介部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.triangle {
    position: absolute;
    right: 0;
    bottom: 0%;
    border-style: solid;
    border-width: 0 0 20rem 35rem;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    opacity: 80%;
    align-items: center;
}

.self_intro {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0%;
    margin: 2%;

}

.self_intro_text1 {
    line-height: 200%;
    margin-bottom: 5%;
}

.self_intro_text2 {
    line-height: 200%;
    font-size: 0.875rem;
}

/* Worksの部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.works_area {
    margin: 0 5rem;
}

.title_text {
    font-size: 4rem;
    font-weight: 500;
}

.menu_title_under {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 20%;
    height: 4px;
    background: currentColor;
    transform: translateY(-5px);
}

/* 擬似的要素 */
.menu_title_under::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 4px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -2%;
    box-sizing: border-box;
}

.sub_title {
    margin: 3% 0 0 0;
    font-size: 6rem;
    font-family: 'Red Hat Mono', monospace;
    color: rgb(235, 235, 235);
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.content_list {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 26rem;
    height: 21.9rem;
}

/* picture-list */
.Carecon_hp {
    background: url(../img/carecon_hp.png);
}

.MSD_hp {
    background: url(../img/MSD_hp.png);
}

.Aegis_free_site {
    background: url(../img/Aegis_free_site.png);
}

.genki_site {
    background: url(../img/genki_site.png);
}

.code_lp {
    background: url(../img/code_lp.png);
}

.Carecon_meishi {
    background: url(../img/Carecon_meishi.png);
}

.meisho_flyer {
    background: url(../img/meisho_flyer.png);
}

.Carecon_hutou {
    background: url(../img/Carecon_hutou.png);
}

.Carecon_logo {
    background: url(../img/Carecon_logo.png);
}

.Aegis_Meet_logo {
    background: url(../img/Aegis_Meet_logo.png);
}

.MSD_logo {
    background: url(../img/MSD_logo.png);
}

.Aegis_Meet_Gif {
    background: url(../img/Aegis_Meet_Gif.png);
}

.click_area {
    width: 100%;
    height: 14rem;
    border: 0.5px solid #000000;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.project_title {
    font-size: 1.5rem;
    ;
    margin: 5% 0 0 0;
    font-weight: 500;
}

.project_field {
    color: #A9A9A9;
    margin: 2% 0 0 0;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.under_triangle {
    border-bottom: 40px solid #EBEBEB;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 0;
    margin: 15% auto 5% auto;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #EBEBEB;
    justify-content: end;
}

.copy_light {
    margin: 0 5%;
}