.data{
    display: flex;
    justify-content: space-between;
}

.meishi_img{
    display: block;
    width: 50%;
    padding: 2rem;
}

@media screen and (max-width: 700px) {
    .meishi_img{
        padding: 1rem;
    }
}