.flyer_img{
    width: 100%;
    padding: 5rem;
}

@media screen and (max-width: 700px) {
    .content_list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .flyer_img{
        padding: 1.5rem;
    }
}