.Profile{
  width: 60%;
  margin: 3rem auto ;
  overflow: hidden;
}
.profile_title{
    color: #99cf15;
    font-weight: 500;
    white-space: nowrap;
}
p{
    margin: 0.5rem 0;
}
.profile_text{
    margin-left: 1rem;
}

@media screen and (max-width: 700px) {
    .Profile{
        width: 90%;
    }
    
}