#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FV部分 */
.fv_area {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* タイトル部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.fv_title {
    position: absolute;
}

.fv_circle {
    position: relative;
    /* 上下左右中央にする下三つ */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    left: -4%;
    top: -8%;
}

.item_circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px #ffffff;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
}

.item_circle_img {
    position: absolute;
    width: 95%;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
    /* 回転アニメーション */
    animation: rotate_anime 20s linear infinite;
}
@keyframes rotate_anime {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* テキストを縦向きに並べる */
.fv_text {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.fv_top_text {
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: 0.2rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    color: #99cf15;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.15);
}

.fv_sub_text {
    font-size: 2rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    color: #99cf15;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.15);
    margin-top: 10%;
}

@media screen and (max-width: 400px) {
    .fv_title {
        width: 70vw;
        height: 18vh;
        left: 5%;
        top: 12%;
    }

    .fv_top_text {
        font-size: 2.5rem;
    }
}

.item_mini_reaf{
    position: absolute;
    width: 12vw;
    bottom: 5%;
    left: 5%;
}

.item_reaf {
    position: absolute;
    width: 55vw;
    top:-5rem;
    right: -2rem;
    transform: rotate(-5deg);
}

/* 自己紹介部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.self_intro {
    position: absolute;
    top: 20rem;
    left: 32rem;
}

.self_intro_text {
    display: flex;
    flex-direction: column;
}

.self_intro_text {
    font-size: 1.5rem;
    text-align: center;
}

.self_intro_text1 {
    font-weight: 500;
    margin-bottom: 5%;
}

.self_intro_text2 {
    line-height: 200%;
}

/* .only_SP {
    display: none;
} */

@media screen and (max-width: 400px) {
    .triangle {
        border-width: 0 0 23rem 37rem;

    }

    .self_intro {
        margin: 4%;
    }

    .only_SP {
        display: inline
    }
}

/* Worksの部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* .works_area {
    margin: 0 5vw 5vh 5vw;
} */

.title_text {
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.15);
    margin: 0 5vw;
}

.menu_title_under {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 30vw;
    height: 4px;
    background: currentColor;
    transform: translateY(-15px);
    color: #99cf15;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
}

/* 擬似的要素 */
.menu_title_under::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 4px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -1%;
    box-sizing: border-box;

}

.content_title{
    position: relative;
    width: 100%;
    height: 8rem;
    margin: 8% 0;

}

.sub_title {
    position: absolute;
    font-size: 8rem;
    font-family: 'Red Hat Mono', monospace;
    line-height: 5.5rem;
    /* フィルターブラー */
    filter: blur(1.5px);
}
.item_contant{
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 5%;
    bottom: 0;
    filter: blur(1.5px);
}

@media screen and (max-width: 400px) {
    .menu_title_under {
        width: 50vw;
    }

    .title_text {
        font-size: 3rem;
    }

    .sub_title {
        font-size: 5rem;
        line-height: 100%;
        margin: 15% 0;
    }
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.content_list {
    display: flex;
    justify-content: space-between;
    margin: 5vh 12vw;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 26rem;
    height: 21.9rem;

}

/* picture-list */
.Carecon_hp {
    background: url(../../img/work_img/carecon_hp.png);
}

.MSD_hp {
    background: url(../../img/work_img/MSD_hp.png);
}

.Aegis_free_site {
    background: url(../../img/work_img/Aegis_free_site.png);
}

.genki_site {
    background: url(../../img/work_img/genki_site.png);
}

.code_lp {
    background: url(../../img/work_img/code_lp.png);
}

.Carecon_meishi {
    background: url(../../img/work_img/Carecon_meishi.png);
}

.meisho_flyer {
    background: url(../../img/work_img/meisho_flyer.png);
}

.Carecon_hutou {
    background: url(../../img/work_img/Carecon_hutou.png);
}

.Carecon_logo {
    background: url(../../img/work_img/Carecon_logo.png);
}

.Aegis_Meet_logo {
    background: url(../../img/work_img/Aegis_Meet_logo.png);
}

.MSD_logo {
    background: url(../../img/work_img/MSD_logo.png);
}

.Aegis_Meet_Gif {
    background: url(../../img/work_img/Aegis_Meet_Gif.png);
}

.click_area {
    width: 100%;
    height: 14rem;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: .4s;

}

.click_area:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .content_list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.project_title {
    font-size: 1.5rem;
    margin: 5% 0 0 0;
    font-weight: 500;
}

.project_field {
    margin: 2% 0 0 0;
}
.item_content2{
    width: 5vw;
    height: 5vw;
    margin: 0% 5%;
    filter: blur(1.5px);
}