#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FV部分 */
.fv_area {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.fv_picture {
    position: relative;
    display: flex;
    width: 65%;
    margin: 0 auto;
    filter: drop-shadow(-2px 5px 2px rgba(0, 0, 0, 0.3));
    transform: translateY(5%);
    /* ↓はみ出た部分を隠すプロパティ→親要素につける */
    overflow: hidden;

}

.fv_img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 400px) {
    .fv_area {
        height: 100vh;
    }

    .fv_picture {
        width: 90%;
        height: 80%;
        margin: 10% auto;
        transform: none;
    }

    /* 画像をトリミングしてコンテナーにフィットさせる↓ */
    .fv_img {
        width: 100vw;
        max-width: none;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

/* タイトル部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.fv_title {
    position: absolute;
    display: flex;
    width: 45%;
    height: 35%;
    left: 7%;
    top: 15%;
    align-items: center;
}

.fv_text_box {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.3);
    filter: blur(8px);
}

/* テキストを縦向きに並べる */
.fv_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: absolute;

}

.fv_top_text {
    font-size: 3rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    text-shadow: -2px 0px 0px #ffffff, -2px 3px 2px rgba(0, 0, 0, 0.3)
}

.fv_sub_text {
    font-size: 1.5rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    text-shadow: -2px 0px 0px #ffffff, -2px 3px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 400px) {
    .fv_title {
        width: 70vw;
        height: 18vh;
        left: 5%;
        top: 12%;
    }

    .fv_top_text {
        font-size: 2.5rem;
    }
}



/* 自己紹介部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.triangle {
    position: absolute;
    right: 0;
    bottom: 0%;
    border-style: solid;
    border-width: 0 0 21rem 40rem;
    border-color: transparent transparent rgb(126, 157, 143) transparent;
    line-height: 0px;
    opacity: 50%;
    align-items: center;

}

.self_intro {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0%;
    margin: 2%;
    color: #ffffff;

}

.self_intro_text1 {
    line-height: 200%;
    margin-bottom: 5%;
}

.self_intro_text2 {
    line-height: 200%;
}

.only_SP {
    display: none;
}

@media screen and (max-width: 400px) {
    .triangle {
        border-width: 0 0 23rem 37rem;

    }

    .self_intro {
        margin: 4%;
    }

    .only_SP {
        display: inline
    }
}

/* Worksの部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.works_area {
    margin: 0 5vw 5vh 5vw;
}

.title_text {
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.15);
}

.menu_title_under {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 30vw;
    height: 4px;
    background: currentColor;
    transform: translateY(-15px);
    color: #ffffff;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
}

/* 擬似的要素 */
.menu_title_under::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 4px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -1%;
    box-sizing: border-box;

}

.sub_title {
    margin: 8% 0;
    font-size: 8rem;
    font-family: 'Red Hat Mono', monospace;
    color: rgba(255, 255, 255, 0.5);
    line-height: 5.5rem;
    /* フィルターブラー */
    filter: blur(1px);
}

@media screen and (max-width: 400px) {
    .menu_title_under {
        width: 50vw;
    }

    .title_text {
        font-size: 3rem;
    }

    .sub_title {
        font-size: 5rem;
        line-height: 100%;
        margin: 15% 0;
    }
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.content_list {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 26rem;
    height: 21.9rem;
    
}

/* picture-list */
.Carecon_hp {
    background: url(../../img/work_img/carecon_hp.png);
}

.MSD_hp {
    background: url(../../img/work_img/MSD_hp.png);
}

.Aegis_free_site {
    background: url(../../img/work_img/Aegis_free_site.png);
}

.genki_site {
    background: url(../../img/work_img/genki_site.png);
}

.code_lp {
    background: url(../../img/work_img/code_lp.png);
}

.Carecon_meishi {
    background: url(../../img/work_img/Carecon_meishi.png);
}

.meisho_flyer {
    background: url(../../img/work_img/meisho_flyer.png);
}

.Carecon_hutou {
    background: url(../../img/work_img/Carecon_hutou.png);
}

.Carecon_logo {
    background: url(../../img/work_img/Carecon_logo.png);
}

.Aegis_Meet_logo {
    background: url(../../img/work_img/Aegis_Meet_logo.png);
}

.MSD_logo {
    background: url(../../img/work_img/MSD_logo.png);
}

.Aegis_Meet_Gif {
    background: url(../../img/work_img/Aegis_Meet_Gif.png);
}

.click_area {
    width: 100%;
    height: 14rem;
    /* border: 0.5px solid #808080; */
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: .4s;
}

.click_area:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .content_list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.project_title {
    font-size: 1.5rem;
    margin: 5% 0 0 0;
    font-weight: 500;
}

.project_field {
    margin: 2% 0 0 0;
    color: #a9a9a9;
}