/* FV部分 */
.fv_area {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* タイトル部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.fv_circle, .fv_text, .self_intro{
    animation-name:fadeInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
}

    @keyframes fadeInAnime{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fv_title {
    position: absolute;
}

.fv_circle {
    position: relative;
    /* 上下左右中央にする下三つ */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33rem;
    height: 33rem;
    left: -3rem;
    top: -3rem;
    
}

.item_circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px #ffffff;
    filter: drop-shadow(-0.5rem 0.1875rem 0.1rem rgba(0, 0, 0, 0.2));
}

.item_circle_img {
    position: absolute;
    width: 95%;
    filter: drop-shadow(-0.5rem 0.1875rem 0.1rem rgba(0, 0, 0, 0.2));
    /* 回転アニメーション */
    animation: rotate_anime 20s linear infinite;
}
@keyframes rotate_anime {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* テキストを縦向きに並べる */
.fv_text {
    position: absolute;
}

.fv_top_text {
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: 0.2rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    color: #99cf15;
    text-shadow: -0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.fv_sub_text {
    font-size: 2rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    color: #99cf15;
    text-shadow: -0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.item_mini_reaf{
    position: absolute;
    width: 12rem;
    bottom: 2rem;
    left: 4rem;
    animation-name:fadeInAnime;
    animation-duration:15s;
    animation-fill-mode:forwards;
    opacity:0;
    filter: drop-shadow(-0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.2));

}

    @keyframes fadeInAnime{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.item_reaf {
    position: absolute;
    width: 45rem;
    top:-4rem;
    right: -1rem;
    transform: rotate(-1deg);
    filter: drop-shadow(-0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.2));

}

@media screen and (max-width: 700px) {
    /* .fv_title {
        width: 70rem;
        height: 18rem;
        left: 5%;
        top: 12%;
    } */

    .fv_top_text {
        font-size: 3rem;
    }
    .fv_sub_text{
        font-size: 1.5rem;
    }

    .fv_circle {
        position: relative;
        /* 上下左右中央にする下三つ */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 25rem;
        left: -5rem;
        top:11rem;
    }
}


@media screen and (max-width: 700px) {
    .item_mini_reaf{
        position: absolute;
        width: 6rem;
        bottom: 1rem;
        left: 1rem;
        
    }
    
    .item_reaf {
        position: absolute;
        width: 45rem;
        top:-1rem;
        right: -4rem;
        transform: rotate(20deg);
    }
}

/* 自己紹介部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.self_intro {
    position: absolute;
    bottom: 4.5rem;
    left: 30rem;
}

.self_intro_text {
    font-size: 1.5rem;
    text-align: center;
}


.self_intro_text1 {
    margin-bottom: 2rem;
    text-shadow: -0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);

}

.self_intro_text2 {
    line-height: 2em;
    text-shadow: -0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);

}

.only_SP {
    display: none;
}

@media screen and (max-width: 700px) {
    .triangle {
        border-width: 0 0 23rem 37rem;

    }

    .self_intro{
        width: 100%;
        bottom: 6rem;
        left:0;
    }

    .self_intro_text {
        font-size: 1rem;
        margin: auto;
    }

    .self_intro_text1 {
        line-height: 2.5em;
        font-weight: 500;
        margin-bottom: 2rem;
        transform: translateX(7rem)
    }
    
    .self_intro_text2 {
        line-height: 2em;
    }

    .only_SP {
        display: inline
    }
}

/* Worksの部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.works_area {
    margin: 3rem 0;
}
section{
    margin-bottom: 10rem;
}

.menu_title{
    width: 20%;
}

.title_text {
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: -0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    margin: 0 5rem;
}

.menu_title_under {
    position: relative;
    border-bottom: dotted 5px #99cf15;
    filter: drop-shadow(-0.125rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.15));
}



.menu_title_under {
    animation: arrowlong01 2.5s ease infinite;
}

@keyframes arrowlong01{
    0%{width:0;opacity:0}
    20%{width:0;opacity:1}
    80%{width:25rem;opacity:1}
    100%{width:25rem;opacity:0}
}


.content_title{
    position: relative;
    width: 100%;
    height: 8rem;
    margin: 8rem 0;
    filter: drop-shadow(-0.125rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.15));
}

.sub_title {
    position: absolute;
    font-size: 8rem;
    font-family: 'Red Hat Mono', monospace;
    line-height: 5.5rem;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.item_contant{
    position: absolute;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    border-top : solid 0.25rem #99cf15 ;
    border-right : solid 0.25rem #99cf15 ;
    transform: translateY(70%);

}


@media screen and (max-width: 700px) {
    section{
        margin-bottom: 5rem;
    }

    .menu_title_under {
        width: 20rem;
    }

    .title_text {
        font-size: 4rem;
        margin: 0 2rem;
    }

    .sub_title {
        font-size: 5rem;
        line-height: 4.5rem;
        -webkit-text-stroke: 1px white;

    }
    .content_title{
        margin: 3rem 0 6rem 0;
    }
    .item_contant{
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: 0.5rem;
        border-top : solid 0.2rem #99cf15 ;
        border-right : solid 0.2rem #99cf15 ;  
    }
    
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.content_list {
    display: flex;
    justify-content: space-between;
    margin: 3rem 10rem;
}

.content_box {
    width: 26rem;
    height: 22rem;

}

.content_box:hover {
    color: #99cf15;
}

/* picture-list */
.Carecon_hp {
    background: url(../../img/work_img/carecon_hp.png);
}

.MSD_hp {
    background: url(../../img/work_img/MSD_hp.png);
}

.Aegis_free_site {
    background: url(../../img/work_img/Aegis_free_site.png);
}

.genki_site {
    background: url(../../img/work_img/genki_site.png);
}

.code_lp {
    background: url(../../img/work_img/code_lp.png);
}

.Carecon_meishi {
    background: url(../../img/work_img/Carecon_meishi.png);
}

.meisho_flyer {
    background: url(../../img/work_img/meisho_flyer.png);
}

.Carecon_hutou {
    background: url(../../img/work_img/Carecon_hutou.png);
}

.Carecon_logo {
    background: url(../../img/work_img/Carecon_logo.png);
}

.Aegis_Meet_logo {
    background: url(../../img/work_img/Aegis_Meet_logo.png);
}

.MSD_logo {
    background: url(../../img/work_img/MSD_logo.png);
}

.Aegis_Meet_Gif {
    background: url(../../img/work_img/Aegis_Meet_Gif.png);
}

.click_area {
    width: 100%;
    height: 14rem;
    filter: drop-shadow(-0.125rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.15));
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: .4s;
    border-radius: 0.5rem;

}

.click_area:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .content_list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0;
    }
}

.content_box{
    margin-bottom: 2rem;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.project_title {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 500;
}

.project_field {
    margin-top: 1rem;
}
.item_content2{
    width: 5rem;
    height: 5rem;
    margin-left: 3rem;
    border-bottom : solid 0.25rem #99cf15 ;
    border-left : solid 0.25rem #99cf15 ;
    filter: drop-shadow(-0.125rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 700px) {
    .item_content2{
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 0.5rem;
    border-bottom : solid 0.2rem #99cf15 ;
    border-left : solid 0.2rem #99cf15 ;

}
}