/* top画面 */
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.h1 {
    margin: 8vh 5vw 5vh 5vw;
    font-size: 8rem;
    font-family: 'Red Hat Mono', monospace;
    color: rgba(255, 255, 255, 0.5);
    line-height: 5.5rem;
    /* フィルターブラー */
    filter: blur(1px);
    line-height: 100%;
}

.Carecon_hp_top {
    width: 70%;
    top: 20vh;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .top {
        width: 100%;
        height: 70vh;
    }

    .h1 {
        margin: 6vh 5vw;
        font-size: 5rem;
    }

    .Carecon_hp_top {
        width: 100%;
        margin: 0;
    }
}

/* 詳細画面 */
.detail {
    margin: 5vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.field {
    font-size: 1.5rem;
    color: #a9a9a9;
}

.rink {
    color: cornflowerblue;
    font-size: 1.5rem;
}

.explanation {
    font-size: 1.5rem;
    margin: 5vh 0;
}

.point {
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .detail {
        margin: 0 5vw;
    }

    .point {
        margin: 0 5vw;
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */